<div class="grid">
  <div class="col-12">
    <div class="card">
      <h4>Tabela de Lutadores </h4>
      <p-table [value]="boxers | async" [paginator]="true" [rows]="2" [rowHover]="true" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="flex justify-content-between flex-column sm:flex-row">
            <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" ></button>
            <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter placeholder="Search Keyword" class="w-full"/>
						</span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Nome de Batismo</th>
            <th>Idade</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-boxer>
          <tr>
          <td>{{boxer.name}}</td>
            <td>{{boxer.birthName}}</td>
            <td>{{boxer.age}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

</div>
