<div class="card">
  <h1 style="margin-bottom: 24px">Editar Lutador</h1>
  <form [formGroup]="formGroup" (ngSubmit)="onsubmit()" >
    <div class="p-fluid grid">
      <div class="grid col-8">
        <div class="field col-12">
          <span class="p-float-label">
            <input formControlName="name" id="name" type="text" pInputText>
            <label for="name">Nome</label>
          </span>
        </div>
        <div class="field col-12">
        <span class="p-float-label">
            <input formControlName="birthName" id="birthName" type="text" pInputText>
            <label for="birthName">Nome de Batismo</label>
          </span>
        </div>
        <div class="field col-12">
          <span class="p-float-label">
            <input formControlName="alias" id="alias" type="text" pInputText>
            <label for="alias">Apelido</label>
          </span>
        </div>
      </div>
      <div class="col-4">
        <p-fileUpload #fileUploader name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" [customUpload]="true" [multiple]="true" (onSelect)="onUpload($event)" accept="image/*" [showUploadButton]="false" [showCancelButton]="false" [auto]="true" styleClass="border-1 surface-border surface-card p-0 border-round mb-4">
          <ng-template pTemplate="content">
            <div class="border-round">
              <div *ngIf="!image" class="flex flex-column w-full h-full justify-content-center align-items-center cursor-pointer" (click)="fileUploader.advancedFileInput.nativeElement.click()">
                <i class="pi pi-fw pi-camera text-4xl text-primary"></i>
                <span class="block font-semibold text-900 text-lg mt-3">Adicionar foto</span>
              </div>
              <div *ngIf="image" class="w-full h-full relative border-round p-0">
                <img [src]="image.objectURL" class="w-full h-full border-round" alt="blog cover">
                <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-primary text-sm absolute justify-content-center align-items-center" style="top: -10px; right: -10px;" (click)="$event.stopPropagation(); removeImage()"></button>
              </div>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>
      <div class="grid col-12">
        <div class="field col-12 lg:col-3">
            <span class="p-float-label">
              <p-inputMask formControlName="birthDate" id="birthDate" mask="99/99/9999" slotChar="dd/mm/yyyy"></p-inputMask>
              <label for="birthDate">Data de Nascimento</label>
            </span>
        </div>
        <div class="field col-12 lg:col-3">
            <span class="p-float-label">
              <p-inputNumber formControlName="weight" id="weight" [maxlength]="3"></p-inputNumber>
              <label for="weight">Peso (kg)</label>
            </span>
        </div>
        <div class="field col-12 lg:col-3">
            <span class="p-float-label">
              <p-inputNumber formControlName="height" id="height" [minFractionDigits]="1" [maxFractionDigits]="2"
                             [maxlength]="4"></p-inputNumber>
              <label for="height">Altura (m)</label>
            </span>
        </div>
        <div class="field col-12 lg:col-3">
          <span class="p-float-label">
            <p-inputNumber formControlName="reach" id="reach" [minFractionDigits]="1" [maxFractionDigits]="2" [maxlength]="4"></p-inputNumber>
            <label for="reach">Alcance (m)</label>
          </span>
        </div>
      </div>
      <div class="field col-12 lg:col-3">
          <span class="p-float-label">
            <p-dropdown id="country" [options]="countries" (onChange)="updateCountry($event)" optionLabel="name"
                        [filter]="true" filterBy="name">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="selectedCountry">
                <img src="assets/demo/images/flag/flag_placeholder.png"
                     [class]="'flag flag-' + selectedCountry.code.toLocaleLowerCase()"/>
                {{selectedCountry.name}}
              </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
              <div class="country-item">
                <img src="assets/demo/images/flag/flag_placeholder.png"
                     [class]="'flag flag-' + country.code.toLowerCase()"/>
                {{country.name}}
              </div>
            </ng-template>
          </p-dropdown>
          <label for="country">País</label>
          </span>
      </div>

      <div class="field col-12 lg:col-3">
          <span class="p-float-label">
            <p-dropdown formControlName="division" id="division" [options]="divisions"></p-dropdown>
            <label for="division">Divisão</label>
          </span>
      </div>

      <div class="field col-12 lg:col-3">
          <span class="p-float-label">
            <p-dropdown formControlName="gender" id="gender" [options]="genders"></p-dropdown>
            <label for="gender">Sexo</label>
          </span>
      </div>

      <div class="grid col-12">
        <h4 class="col-12">Cartel</h4>
        <div class="field col-12 lg:col-2">
            <span class="p-float-label">
              <p-inputNumber formControlName="wins" id="wins" [maxlength]="3"></p-inputNumber>
              <label for="wins">Vitórias</label>
            </span>
        </div>
        <div class="field col-12 lg:col-2">
            <span class="p-float-label">
              <p-inputNumber formControlName="kos" id="kos" [maxlength]="3"></p-inputNumber>
              <label for="kos">Nocautes</label>
            </span>
        </div>
        <div class="field col-12 lg:col-2">
            <span class="p-float-label">
              <p-inputNumber formControlName="losses" id="losses" [maxlength]="3"></p-inputNumber>
              <label for="losses">Derrotas</label>
            </span>
        </div>
        <div class="field col-12 lg:col-2">
            <span class="p-float-label">
              <p-inputNumber formControlName="draws" id="draws" [maxlength]="3"></p-inputNumber>
              <label for="draws">Empates</label>
            </span>
        </div>
        <div class="field col-12 lg:col-2">
            <span class="p-float-label">
              <p-inputNumber formControlName="noContests" id="noContests" [maxlength]="3"></p-inputNumber>
              <label for="noContests">S/R</label>
            </span>
        </div>
      </div>
      <div class="grid col-12">
        <button type="submit" pButton pRipple label="Salvar" ></button>
      </div>
    </div>
  </form>
  <p-toast></p-toast>
